.btn-gplus {
	background-color: #dd4b39;
	color: white;
	/*display: inline-block;
		
	width: 165px; 
	border-radius: 5px;
	white-space: nowrap;*/
}

.btn-gplus:hover, .btn-gplus:focus, .btn-gplus:active, .btn-gplus.active, .btn-gplus.disabled, .btn-gplus[disabled] {
	background-color: #e74b37;
	cursor: hand;
}

.btn-github {
	background-color: #99c;
	color: white;
	/*display: inline-block;
		
	width: 165px; 
	border-radius: 5px;
	white-space: nowrap;*/
}

.btn-github:hover, .btn-gplus:focus, .btn-gplus:active, .btn-gplus.active, .btn-gplus.disabled, .btn-gplus[disabled] {
	background-color: #99c;
	cursor: hand;
}

span.label {
	font-weight: bold;
}

span.icon {
	background: url('/+/images/branding/btn_red_32.png') transparent 5px 50%
		no-repeat;
	display: inline-block;
	vertical-align: middle;
	width: 35px;
	height: 35px;
	border-right: #bb3f30 1px solid;
}

span.buttonText {
	display: inline-block;
	vertical-align: middle;
	padding-left: 35px;
	padding-right: 35px;
	font-size: 14px;
	font-weight: bold;
	/* Use the Roboto font that is loaded in the <head> */
	font-family: 'Roboto', arial, sans-serif;
}