/**************** BEGIN: IN USE - FOR SURE **********************/


/**************** END: IN USE - FOR SURE **********************/

/*** Forms Elements***/ 
label,
input,
button,
select,
textarea {
  font-size: 14px;
  font-weight: normal;
  line-height: 20px;

}

input,
button,
select,
textarea {
  font-family: "Segoe UI", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

label {
  display: block;
  margin-bottom: 5px;
}
label.done{
  color:#0090d9 !important;
  text-decoration:line-through;
}
.uneditable-input,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"] {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  /*-webkit-appearance: none !important;*/   
	color: #282323 
  outline: 0;
  height: 16px;
  padding: 6px 9px !important;
  line-height: 15px;
  font-size: 13px;
  font-weight: normal;
  vertical-align: top;  
  background-color:#fff;
  min-height: 28px;
  filter: none !important;
	  -webkit-box-shadow: none !important;
	     -moz-box-shadow: none !important;
	          box-shadow: none !important;
	  -webkit-border-radius: 0px;
	     -moz-border-radius: 0px;
	          border-radius: 0px;   
			  -webkit-border-radius: 2px;
-moz-border-radius: 2px;
border-radius: 2px;
border: 1px solid #e5e9ec;
transition: background 0.2s linear 0s, box-shadow 0.2s linear 0s;
}
input.no-boarder {
  border: none;
}
input.dark {
  background-color:#e5e9ec;
  border: none;
}
input {
  border: 1px solid #cecece;
}

textarea {
  height: auto;
}

.uneditable-input.focus,
textarea:focus,
select:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.m-uneditable-input:focus {
  border-color: #e5e9ec;
  background-color:#f4f5f7;
  outline: 0 !important;
  -webkit-box-shadow: none;
     -moz-box-shadow: none;
          box-shadow: none;      
		  background-color: #f4f5f7;
}

input[type="radio"],
input[type="checkbox"] {
  	margin: 4px 0 0;
  	margin-top: 1px \9;
  	*margin-top: 0;
  	line-height: normal;
	  cursor: pointer;		
  	-webkit-box-sizing: border-box;
	     -moz-box-sizing: border-box;
	          box-sizing: border-box;		
}

select,
input[type="file"] {
  height: 34px !important;
  /* In IE7, the height of the select element cannot be changed by height, only font-size */
  *margin-top: 4px;
  /* For IE7, add top margin to align select with labels */
  line-height: 30px;
}

select {
  width: 220px;
  background-color: #ffffff;
  background-image: none !important;
  filter: none !important;
  border: 1px solid #e5e5e5;
  outline: none;
	min-height:28px;
}

select[multiple],
select[size] {
  height: auto !important;
}

select:focus,
input[type="file"]:focus,
input[type="radio"]:focus,
input[type="checkbox"]:focus {
  outline: thin dotted #333333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;  
  -webkit-box-shadow: none !important;
     -moz-box-shadow: none !important;
          box-shadow: none !important;
}

input[class*="span"]
{
  float: none;
  height: 34px !important;
  margin-left: 0;
}

select[class*="span"],
textarea[class*="span"]
{
  float: none;
  margin-left: 0;
}

/** Input Size **/
.input-lg{
    border-radius: 3px !important;
    font-size: 18px !important;
    height: 45px !important;
    line-height: 1.33 !important;
}
.input-sm{
    font-size: 13px !important;
	min-height:20!important
}

/** Input Prepends/Appends **/
.input-prepend,
.input-append {
  border: 0;
  display: inline-block;  
}

.input-append .add-on,
.input-prepend .add-on {
  display: inline-block;
  width: auto;
  height: 24px;
  min-width: 16px;
  padding: 4px 5px;
  font-size: 14px;
  font-weight: normal;
  line-height: 24px;
  text-align: center;
  text-shadow: 0 1px 0 #ffffff;
  background-color: #e5e5e5;
  border: 1px solid #e5e5e5;
}

.input-append .add-on > .halflings-icon,
.input-prepend .add-on > i,
.input-prepend .add-on > [class^="icon-"]
{
	margin-top: 5px;
	margin-left: 3px;
}

.input-append .add-on > .halflings-icon
.input-append .add-on > i,
.input-append .add-on > [class^="icon-"]
{
	margin-top: 5px;
	margin-left: 0px;
}

.input-append ,
.input-append :focus {
	border-right: 0 !important;
}



.input-append input[class*="span"],
.input-prepend input[class*="span"],
.input-append input,.input-prepend input
{
  display: inline-block !important;  
  width:100%;
  float:left;
}

.xsmall {
  width: 50px !important;
}

.small {
  width: 120px !important;
}

.medium {
  width: 206px !important;
}

.large {
  width: 320px !important;
}

.huge {
  width: 480px !important;
  font-size: 24px !important;
  height: 36px !important;
  line-height: 36px !important;
  padding: 22px 8px !important;
}
.radio, .checkbox{
	margin-bottom:0;
    margin-top:0;
}
.radio label {
	display: inline-block;
	cursor: pointer;
	position: relative;
	padding-left: 25px;
	margin-right: 15px;
	font-size: 13px;
	margin-bottom:6px;
	color: #777a80;
}

.radio input[type=radio] {
	display: none;
}
.radio label:before {
	content: "";
	display: inline-block;
	width: 17px;
	height: 17px;
	margin-right: 10px;
	position: absolute;
	left: 0;
	bottom: 2.5px;
	background-color: #fff;
	 border:1px solid #c2c6cb;
	border-radius: 99px;
}


.radio label:after {
  font-size: 13px;
  content: "";
  text-align: center;
  display: inline-block;
  width: 17px;
  height: 17px;
  position: absolute;
  -o-transform: scale(0);
  -ms-transform: scale(0);
  -moz-transform: scale(0);
  -webkit-transform: scale(0);
  transform: scale(0);
  border-radius: 99px;
  left:0px;
  top:1px;   
  background-color: #6f7b8a;  
  border:1px solid #6f7b8a;
}
.radio input[type=radio][disabled]+ label{	
	 opacity: 0.65;
}
.checkbox input[type=radio][disabled]+ label:after {
	background-color:#eceff3;
}

.radio.radio-success label:after { 
	background-color: #0090D9;  
	 border:1px solid #0090D9;
}

.radio.radio-primary label:after { 
	background-color: #0AA699;  
	border:1px solid #0AA699;
}

.radio.radio-info label:after { 
	background-color: #1F3853;  
	 border:1px solid #1F3853;
}

.radio.radio-warning label:after { 
	background-color: #FDD01C;  
	 border:1px solid #FDD01C;
}

.radio.radio-danger label:after { 
	background-color: #F35958;  
	 border:1px solid #F35958;
}

.radio input[type=radio]:checked + label{	
	color: #4d5056;
}
.radio input[type=radio]:checked + label:after { 
  -o-transform: scale(0.63);
  -ms-transform: scale(0.63);
  -moz-transform: scale(0.63);
  -webkit-transform: scale(0.63);
  transform:scale(0.63);
  line-height: 18px;  
  -o-transition: -o-transform .1s 0s cubic-bezier(0.455, 0.030, 0.215, 1.330);
  -ms-transition: -ms-transform .1s 0s cubic-bezier(0.455, 0.030, 0.215, 1.330);
  -moz-transition: -moz-transform .1s 0s cubic-bezier(0.455, 0.030, 0.215, 1.330);
  -webkit-transition: -webkit-transform .1s 0s cubic-bezier(0.455, 0.030, 0.215, 1.330);
  -o-transition: transform .1s 0s cubic-bezier(0.455, 0.030, 0.215, 1.330);
  -ms-transition: transform .1s 0s cubic-bezier(0.455, 0.030, 0.215, 1.330);
  -moz-transition: transform .1s 0s cubic-bezier(0.455, 0.030, 0.215, 1.330);
  -webkit-transition: transform .1s 0s cubic-bezier(0.455, 0.030, 0.215, 1.330);
  transition: transform .1s 0s cubic-bezier(0.455, 0.030, 0.215, 1.330);
}
.radio input[type=radio]:checked + label:before {  
	border:1px solid #8e9095;
}
.radio.radio-success input[type=radio]:checked + label:before {  
	border:1px solid #0090D9;
}
.radio.radio-primary input[type=radio]:checked + label:before {  
	border:1px solid #0AA699;
}
.radio.radio-info label input[type=radio]:checked + :before {  
	border:1px solid #1F3853;
}
.radio.radio-warning input[type=radio]:checked + label:before {  
	border:1px solid #FDD01C;
}
.radio.radio-danger input[type=radio]:checked + label:before {  
	border:1px solid #F35958;
}

.checkbox label {
	display: inline-block;
	cursor: pointer;
	position: relative;
	padding-left: 25px;
	margin-right: 15px;
	font-size: 13px;
	margin-bottom:6px;
	color: #777a80;
	transition: border 0.2s linear 0s,color 0.2s linear 0s;
}
table td .checkbox label {
	padding-left: 0px;
}
table th .checkbox label {
	padding-left: 0px;
}
.star label {
	display: inline-block;
	cursor: pointer;
	position: relative;
	font-size: 18px;
	transition: border 0.2s linear 0s,color 0.2s linear 0s;
}

.star label:before {
	font-family: 'FontAwesome';	
	content: "\F005";
	display: inline-block;
	margin-right: 10px;
	position: absolute;
	left: 0px;
	top: -4px;
		font-size: 18px;
	color:#97a3b3;
	transition: border 0.2s linear 0s,color 0.2s linear 0s;
}

.star label {
	margin-bottom: 10px;
}
.star  input[type=checkbox] {
	display: none;
}

.star input[type=checkbox]:checked + label:before  {
	color:#ffd200;
}

.checkbox label:before {
	content: "";
	display: inline-block;
	width: 17px;
	height: 17px;
	margin-right: 10px;
	position: absolute;
	left: 0px;
	top: 1.4px;
	background-color: #fff;
	border:1px solid #c2c6cb;
	border-radius: 3px;
	transition: border 0.2s linear 0s,color 0.2s linear 0s;
}


.checkbox label::after {
  display: inline-block;
  width: 16px;
  height: 16px;
  position: absolute;
  left:3.2px;
  top:0px;  
  font-size:11px;  
  transition: border 0.2s linear 0s,color 0.2s linear 0s;
}

.checkbox  input[type=checkbox] {
	display: none;
}
.checkbox label {
	margin-bottom: 10px;
}
.checkbox label:after {
    border-radius: 3px;
}
.checkbox.checkbox-circle label:after {
    border-radius: 99px;
}
.checkbox.checkbox-circle label:before {
    border-radius: 99px;
}

.checkbox input[type=checkbox]:checked + label::after  {
	font-family: 'FontAwesome';
	content: "\F00C";
}
.checkbox input[type=checkbox]:checked + label{
	color: #4d5056;
}

.checkbox input[type=checkbox][disabled]+ label{	
	 opacity: 0.65;
}
.checkbox input[type=checkbox][disabled]+ label:before {
	background-color:#eceff3;
}

.checkbox.check-success input[type=checkbox]:checked + label:before {
	background-color:#0090D9;
	border:1px solid #0090D9;
}
.checkbox.check-success input[type=checkbox]:checked + label::after {
	color:#fff;
}

.checkbox.check-primary input[type=checkbox]:checked + label:before {
		background-color:#0AA699;
	border:1px solid #0AA699;
}
.checkbox.check-primary input[type=checkbox]:checked + label::after {
	color:#fff;
}

.checkbox.check-info input[type=checkbox]:checked + label:before {
	background-color:#1F3853;
	border:1px solid #1F3853;
}
.checkbox.check-info input[type=checkbox]:checked + label::after {
	color:#fff;
}

.checkbox.check-warning input[type=checkbox]:checked + label:before {
	background-color:#FDD01C;
	border:1px solid #FDD01C;
}
.checkbox.check-warning input[type=checkbox]:checked + label::after {
	color:#fff;
}

.checkbox.check-danger input[type=checkbox]:checked + label:before {
	background-color:#F35958;
	border:1px solid #F35958;
}
.checkbox.check-danger input[type=checkbox]:checked + label::after {
	color:#fff;
}

select.xsmall {
  width: 64px !important;
}

select.small {
  width: 134px !important;
}

select.medium {
  width: 220px !important;
}

select.large {
  width: 334px !important;
}
.wysihtml5-toolbar li{
   padding-left: 0px;
}
.bootstrap-tagsinput{
	 border: 1px solid #E5E9EC;
	 border-radius: 3px;
	 box-shadow:none;
	 width:100%;
	 transition: background 0.2s linear 0s;
}
.bootstrap-tagsinput.active-element{
	background-color:#f4f5f7;
}
.bootstrap-tagsinput input{
	border:none;
	margin-bottom:0px;
	min-height:25px;
}

.bootstrap-tagsinput .tag{
	vertical-align: middle;
	padding: 4px 9px;
	margin-top:3px;
	display:inline-block;
}
.bootstrap-tagsinput .tag [data-role="remove"]:hover:active,.bootstrap-tagsinput .tag [data-role="remove"]:hover{
	box-shadow:none;
}
/*** Form stuff ***/
form legend {
  margin: 15px 0px 10px 0px !important;
}
.column-seperation > div[class*="col-"]{
	border-right:1px solid #ddd;
}
.column-seperation > div[class*="col-"]:last-child{
	border-right:0px;
}
.form-no-horizontal-spacing .row-fluid [class*="span"]{
  
}
.form-no-horizontal-spacing .row-fluid .side-label{
	border-right:1px solid #dddddd;
}

.radio, .checkbox{
	padding-left:0px
}



/* ## NOVOS ESTILOS */
.b-b{
	border-bottom:1px solid;
}

.b-grey{
	border-color:#e5e9ec;	
	padding-bottom: 5px
}

/** Padding **/
.no-padding {
  padding: 0px !important;
}
.no-margin {
  margin: 0px !important;
}

.padding-10{
	padding:10px;
}
.padding-20{
	padding:20px;
}

.p-t-5{
	padding-top:5px;
}
.p-t-10{
	padding-top:10px;
}
.p-t-15{
	padding-top:15px;
}
.p-t-20{
	padding-top:20px;
}
.p-t-25{
	padding-top:25px;
}
.p-t-30{
	padding-top:30px;
}
.p-t-35{
	padding-top:35px;
}
.p-t-40{
	padding-top:40px;
}
.p-t-45{
	padding-top:45px;
}
.p-t-50{
	padding-top:50px;
}
.p-t-55{
	padding-top:55px;
}
.p-t-60{
	padding-top:60px;
}
.p-t-65{
	padding-top:65px;
}
/** Padding Bottom **/
.p-b-5{
	padding-bottom:5px;
}
.p-b-10{
	padding-bottom:10px;
}
.p-b-15{
	padding-bottom:15px;
}
.p-b-20{
	padding-bottom:20px;
}
.p-b-25{
	padding-bottom:25px;
}
.p-b-30{
	padding-bottom:30px;
}
.p-b-35{
	padding-bottom:35px;
}
.p-b-40{
	padding-bottom:40px;
}
.p-b-45{
	padding-bottom:45px;
}
.p-b-50{
	padding-bottom:50px;
}
.p-b-55{
	padding-bottom:55px;
}
.p-b-60{
	padding-bottom:60px;
}
.p-b-65{
	padding-bottom:65px;
}
/** Padding Left **/
.p-l-5{
	padding-left:5px;
}
.p-l-10{
	padding-left:10px;
}
.p-l-15{
	padding-left:15px;
}
.p-l-20{
	padding-left:20px;
}
.p-l-25{
	padding-left:25px;
}
.p-l-30{
	padding-left:30px;
}
.p-l-35{
	padding-left:35px;
}
.p-l-40{
	padding-left:40px;
}
.p-l-45{
	padding-left:45px;
}
.p-l-50{
	padding-left:50px;
}
.p-l-55{
	padding-left:55px;
}
.p-l-60{
	padding-left:60px;
}
.p-l-65{
	padding-left:65px;
}
/** Padding Right **/
.p-r-5{
	padding-right:5px;
}
.p-r-10{
	padding-right:10px;
}
.p-r-15{
	padding-right:15px;
}
.p-r-20{
	padding-right:20px;
}
.p-r-25{
	padding-right:25px;
}
.p-r-30{
	padding-right:30px;
}
.p-r-35{
	padding-right:35px;
}
.p-r-40{
	padding-right:40px;
}
.p-r-45{
	padding-right:45px;
}
.p-r-50{
	padding-right:50px;
}
.p-r-55{
	padding-right:55px;
}
.p-r-60{
	padding-right:60px;
}
.p-r-65{
	padding-right:65px;
}

/** Margins **/
.margin-10{
	margin:10px;
}
.margin-20{
	margin:20px;
}
/** Margin top **/
.m-t-5{
	margin-top:5px;
}
.m-t-10{
	margin-top:10px;
}
.m-t-15{
	margin-top:15px;
}
.m-t-20{
	margin-top:20px;
}
.m-t-25{
	margin-top:25px;
}
.m-t-30{
	margin-top:30px;
}
.m-t-35{
	margin-top:35px;
}
.m-t-40{
	margin-top:40px;
}
.m-t-45{
	margin-top:45px;
}
.m-t-50{
	margin-top:50px;
}
.m-t-55{
	margin-top:55px;
}
.m-t-60{
	margin-top:60px;
}
/** Margin Bottom **/
.m-b-5{
	margin-bottom:5px;
}
.m-b-10{
	margin-bottom:10px;
}
.m-b-15{
	margin-bottom:15px;
}
.m-b-20{
	margin-bottom:20px;
}
.m-b-25{
	margin-bottom:25px;
}
.m-b-30{
	margin-bottom:30px;
}
.m-b-35{
	margin-bottom:35px;
}
.m-b-40{
	margin-bottom:40px;
}
.m-b-45{
	margin-bottom:45px;
}
.m-b-50{
	margin-bottom:50px;
}
.m-b-55{
	margin-bottom:55px;
}
.m-b-60{
	margin-bottom:60px;
}

/** Margin Left **/
.m-l-5{
	margin-left:5px;
}
.m-l-10{
	margin-left:10px;
}
.m-l-15{
	margin-left:15px;
}
.m-l-20{
	margin-left:20px;
}
.m-l-25{
	margin-left:25px;
}
.m-l-30{
	margin-left:30px;
}
.m-l-35{
	margin-left:35px;
}
.m-l-40{
	margin-left:40px;
}
.m-l-45{
	margin-left:45px;
}
.m-l-50{
	margin-left:50px;
}
.m-l-55{
	margin-left:55px;
}
.m-l-60{
	margin-left:60px;
}

/** Padding Right **/
.m-r-5{
	margin-right:5px;
}
.m-r-10{
	margin-right:10px;
}
.m-r-15{
	margin-right:15px;
}
.m-r-20{
	margin-right:20px;
}
.m-r-25{
	margin-right:25px;
}
.m-r-30{
	margin-right:30px;
}
.m-r-35{
	margin-right:35px;
}
.m-r-40{
	margin-right:40px;
}
.m-r-45{
	margin-right:45px;
}
.m-r-50{
	margin-right:50px;
}
.m-r-55{
	margin-right:55px;
}
.m-r-60{
	margin-right:60px;
}

.hide {
  display: none;
}
.padding-10{
	padding:10px;
}
.margin-top-10{
	margin-top:10px;
}
.margin-top-20{
	margin-top:20px;
}
.margin-bottom-10{
	margin-bottom:10px;
}
.margin-bottom-20{
	margin-bottom:20px;
}
